@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  @apply bg-custom-bg;
}

body {
  font-family: "ClashDisplay", sans-serif;
  background-color: #f6f3ed;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinner controls for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Webkit browsers */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
